
a:hover {
    color: darkgray;
}

.post-content a {
    box-shadow: none;
    text-decoration: none !important;
    color: rgb(120, 120, 120) !important; /* Optional: Set link color to gray */
}

body {
    background-color: black !important; /* Dark gray background */
    color: #ffffff !important; /* Ensure text remains visible */
}

.post-content a:hover {
    color: white !important;
}

nav {
    display: none !important;
}

/* Hide navigation menu */
nav, nav ul, nav li, nav span, header {
    display: none !important;
}
nav {
    display: none !important;
}



